@use '../../styles/global.scss' as *;

.l-grid {
  --column: 2;
  --gap: 2.5rem;

  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  gap: var(--gap);

  @include media-breakpoint-sp {
    grid-template-columns: 1fr;
  }

  &__col {
    // dev
    background-color: #000;
    height: 100px;
  }
}
