@use '../../../styles/global.scss' as *;

.c-accordion {
  & + & {
    margin-top: rem(24);
  }

  &__head {
    position: relative;
    display: flex;
    width: 100%;
    padding: rem(16);
    cursor: pointer;
    transition: 0.3s all;

    @include media-breakpoint-sp {
      padding: rem(16) rem(56) rem(16) rem(20);
      font-size: rem(20);
    }

    &.is-active {
      .c-accordion {
        &__icon {
          &::after {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: rem(20);
    width: rem(20);
    height: rem(20);
    transform: translateY(-50%);

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(14);
      height: rem(2);
      content: '';
      background-color: #000;
      transition: 0.3s all;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__content {
    transition: height 0.3s;
  }

  &__content-inner {
    padding: rem(16) rem(16);
  }
}
