@use '../../../styles/global.scss' as *;

.c-textarea {
  width: 100%;
  padding: rem(16);
  font-size: rem(16);
  outline: 0;

  &:focus {
    border-color: #000;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #c4c4c4;
  }

  &.is-error {
    border-color: red;
  }
}
