*{margin:0;padding:0;box-sizing:border-box}.c-icon{display:inline-block;width:1.5rem;height:1.5rem;background-color:#000}.c-icon.--large{width:2rem;height:2rem}.c-icon.--small{width:1rem;height:1rem}
