@use '../../styles/global.scss' as *;

.c-slideshow {
  width: 100%;

  &__swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {
      width: auto;
    }
  }
}
