@use '../../../styles/global.scss' as *;

.c-selectbox {
  position: relative;

  &.--small {
    max-width: rem(200);
  }

  &.--medium {
    max-width: rem(300);
  }

  &.--large {
    max-width: rem(400);
  }

  &.--max {
    max-width: 100%;
  }

  &__field {
    outline: 0;
    width: 100%;
    font-size: rem(16);
    padding: rem(16);
    appearance: none;

    &:focus {
      border-color: #000;
    }

    &:disabled {
      background-color: #f5f5f5;
      color: #c4c4c4;
    }

    &.is-error {
      border-color: red;
    }
  }

  &__icon {
    position: absolute;
    right: rem(16);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &:has(.c-selectbox__field:disabled) {
    .c-selectbox__icon {
      background-color: #c4c4c4;
    }
  }
}
