@use '../../../styles/global.scss' as *;

.c-media {
  display: flex;
  justify-content: space-between;

  &.--reverse {
    flex-direction: row-reverse;
  }

  &__image {
    width: 50%;
    aspect-ratio: 16/9;
    background-color: #000;
  }

  &__content {
    width: calc(50% - 1rem);
  }

  &__title + &__text {
    margin-top: 1rem;
  }

  &__title + &__button {
    margin-top: 2rem;
  }

  &__text + &__button {
    margin-top: 2rem;
  }
}
