@use '../../../styles/global.scss' as *;

.c-list-ol {
  list-style: none;
  counter-reset: list-counter;

  &__item {
    position: relative;

    .c-list-ol {
      margin-left: rem(24);
    }
    .c-list-ul {
      margin-left: rem(24);
    }

    & + & {
        margin-top: rem(8);
    }

    &::before {
        display: inline-block;
        content: counter(list-counter) ".";
        counter-increment: list-counter;
        min-width: rem(32);
        text-align: right;
        margin-right: rem(4);
    }
  }
}