@use "../../../styles/global.scss" as *;

.u-textlimit {
  --text-limit: 1;
  &:not([data-text-limit]) , &[data-text-limit = '1'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &[data-text-limit]:not([data-text-limit = '1']) {
    display: -webkit-box;
    -webkit-line-clamp: var(--text-limit);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}